@font-face {
  font-family: "Verdana";
  src: local("Verdana"),
   url("./assets/verdana-font-family/verdana.ttf") format("truetype");
  font-weight: 400;
  }

body {
  margin: 0;
  font-family: Verdana !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}